<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.overflightkit.compact</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/sh</string>
		<string>__INSTALL_DIR__/bin/compact.sh</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/bin:/bin</string>
		<key>ARCHIVE_DIR</key>
		<string>__ARCHIVE_DIR__</string>
	</dict>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>3</integer>
		<key>Minute</key>
		<integer>30</integer>
	</dict>
	<key>ProcessType</key>
	<string>Background</string>
	<key>StandardOutPath</key>
	<string>__INSTALL_DIR__/log/compact.log</string>
	<key>StandardErrorPath</key>
	<string>__INSTALL_DIR__/log/compact.err.log</string>
</dict>
</plist>
